/*产品详情页*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mt10{
	margin-top:-30px;
}
.stick{
	z-index:9999;
	width:100%;
	position: fixed;
	top:0;
	left:0;
	animation:1s fadeInDown; /* 添加 animation动画*/
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #858585;
    letter-spacing: 1px;
}
div {
    display: block;
}



body .img{
	width: 100%;
}
.navbar{
	position:fixed;
	top:0px;
	left:0;
	background-color:white;
	opacity:0.8;
	border-top: 0;
	min-height: 30px;
	width:100%;
	z-index:999;
}
.navbarjs{
	opacity: 1;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	animation: 1s fadeInDown;
}
@media only screen and (max-width: 768px) {
	.navbar{
	background-color: white;
	border-top: 0;
	min-height: 30px;
	}

}
.dropdown .dropdown-menu{
	position: absolute;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #cf5053 !important;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  	color: #cf5053 !important;
	background-color: white;
 }
.navbar-default .navbar-nav>li a:hover{
		color: #cf5053 !important;
}
.search-form{
	width: 300px;
}
.navbar .container-fluid{
	margin-left: 200px;
}
.navbtn li,.navbarright li{
	float: left;
}

.navbtn,.navbarright{
	float: left;
	list-style: none;
}
.navbarright li{
	margin-right: 15px;
}
.navbarright>li a:hover {
	color: #cf5053 !important;
}
.navbarright{
	position: absolute;
	top: 15px;
	right: 60px;
}



.main {
    padding-top: 80px;
    padding-bottom: 70px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
	width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
/*.col-md-6{
	width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.gallery .full {
	 width: 50%;
    margin-bottom: 10px;
    position: relative;
    user-select: none;
}
.gallery .full img {
    width: 50%;
    position: relative;
    z-index: -1;
}
img {
    vertical-align: middle;
     border: 0;
}
.gallery .full .details {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #25282c;
    font-size: 22px;
    width: 36px;
    height: 36px;
    left: 50%;
    line-height: 36px;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 20;
    padding: 0;
}
a {
    transition: all 0.4s ease;
}
[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
}
[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 991px)
.gallery .previews {
    margin-bottom: 40px;
}
.gallery .previews {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-stage {
    position: relative;
    margin: auto;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    user-select: none;
}
.gallery .previews .selected {
    border: 2px solid #ca7379;
}
.gallery .previews img {
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}
.owl-carousel .owl-item img {
    display: block;
    margin: auto;
    -webkit-transform-style: preserve-3d;
}
img {
    vertical-align: middle;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    cursor: pointer;
    border-radius: 3px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.gallery .previews .nav .prev {
    left: calc(50% - 42px);
}
.gallery .previews .nav span {
    border: 2px solid #ddd;
    border-radius: 50%;
    color: #25282c;
    cursor: pointer;
    font-size: 24px;
    height: 36px;
    line-height: 1;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 36px;
    z-index: 20;
    transition: all 0.3s ease;
}
.gallery .previews .nav .next {
    right: calc(50% - 42px);
}*/
.tabs  img{
	width:100%;
}

.tab-title{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	box-sizing: border-box;
	margin:8px -8px 0;
}
.tab-title li{
	float:left;
	width:25%;
	padding:0 8px;
}
.tab-title .slick-arrow{
	position:absolute;
	top:50%;
	margin-top:-20px;
	width:40px;
	height: 40px;
	border:1px solid #ccc;
	border-radius: 50%;
	background:firebrick;
	z-index:10;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	opacity: 0;
	outline:none;
}
.myprev{
	font-size: 17px;
	background-color: #122B40;
	right:-5px;
	color: #fff;
}
.mynext{
	font-size: 17px;
	left:-5px;
}
.tab-title:hover .slick-arrow{
	opacity: 0.6;
}
.tab-title .slick-arrow:hover{
	background:black;
	color:white;
}

.tabs .tab-content .tab-content-img img{
	width: 100%;
}

.main .container .breadcrumb  .detail-r{
	padding-left: 100px;
}

.main .container .breadcrumb {
    color: #888;
    font-size: 11px;
    
}
.main .container .breadcrumb a{
     color: darkslategray;
}
.main .container .breadcrumb i{
	vertical-align: inherit;
    font-size: 14px;
    margin: 0 3px;
    color: #888;
}
.main .container .breadcrumb span{
	color: darkslategray;
}
.main .container .summary .product-name {
    color: #25272c;
    font-size: 26px;
    margin: 30px 0 40px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.main .container .summary .price {
    color: #ce5052;
    font-size: 34px;
    margin: 15px 0;
    margin-top:-15px ;
}

.main .container .summary .short-desc {
    line-height: 2;
    margin-bottom: 30px;
}
.ch{
	 border:1px solid #ca7379 !important;
    background-color: white !important;
    color: #D43F3A !important;
}
.main .container .summary .short-desc h5{
	font-weight: 700;
	text-decoration:underline;
}
.main .container .summary .pro-size h5{
	font-weight: 700;
	display: block;
	text-decoration: underline;
}
.main .container .summary .pro-size span{
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	border:1px solid antiquewhite;
	font-size:12px;
	background:  #ca7379;
	margin-right:6px;
	margin-top: 10px;
	margin-bottom: -10px;
	color:white;
}
.main .container .summary .pro-size span:hover{
	cursor: hand;
    border:1px solid #ca7379;
    background-color: white;
    color: #D43F3A;
}
/*.main .container .summary .pro-size span:active{
	background: white;
	color:#fff;
}*/
/*.main .container .summary .pro-size button:visited{
	 background-color: white;
    color: #D43F3A;
}*/
.main .container .quantity {
    border: 1px solid #202020;
    border-radius: 20px;
    float: left;
    height: 36px;
    padding: 0 10px;
    margin-right: 15px;
    width: 120px;
    font-size: 15px;
}
.main .container .quantity input{
	width:40%;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 2px;
}
.main .container .quantity span{
	display: inline-block;
	width:20%;
	text-align:center;
	vertical-align: middle !important;
	margin-top: 6px;
	margin-left: 2px;
}

/*.main .container .summary .quantity button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 9px;
    height: 14px;
    text-align: center;
    width: 14px;
    transition: all 0.3s ease;
}*/
.iconfont{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main .container .add-to-cart-btn {
    color: #fff;
    border: 2px solid #ca7379;
    display: block;
    font-size: 11px;
    padding: 8px 40px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background-color: #ca7379;
    border-radius: 20px;
    transition-property: color;
    transition-duration: 0.3s;
}
.main .container .share-this{
	margin-top: 17px;
}


.st-social-2 {
    margin-bottom: 0;
}
ul {
    list-style-position: inside;
}
.list-social-2 li {
    display: inline-block;
}
.list-social-2 li a {
    border: 1px solid #888;
    color: #888;
    font-size: 18px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    width: 36px;
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: color;
    transition-duration: 0.3s;
    transition-property: all;
}
/*产品参数*/
.productDes .tab-content .xiangqing{
	text-align: center;
}
.productDes .tab-content .xiangqing img{
	margin-top: 50px;
	width: 100%;
	/*margin-left:30%;*/
}
.productDes .tab-content .cs{
	
}

.productDes .tab-content .cs ul{
	list-style-type: none;
	float: left;
	width: 33%;
	margin-top: 30px;
}
.productDes .tab-content .cs ul li{
	list-style-type: none;
	margin-top: 20px;
	}
.productDes .tab-content .pinglun{
	padding-top: 10px;
	margin-left: 20px;
}
.productDes .tab-content .pinglun h4{
	color: black;
}
.productDes .tab-content .pinglun ul li{
	list-style-type: none;
	margin-top: 20px;
	float:left;
	width: 16%;
	text-align: center;
}
/*底部start*/
.ft{
	padding-bottom: 50px;
}
.footer ul {
	list-style: none;
}
.footer{
	font-size: 14px;
	margin-bottom: 100px;
}
.footer a{
	color: #000;
}
.footer{
	margin-top: 50px;
	border-top: 1px solid #ddd;
	position: relative;
	bottom: 0;
	
}
.footer .footer-index-first li,.footer-index-second li{
	float: left;
}
.footer-index-first{
	margin-top: 30px;
	
}
.footer-index-first li{
    padding: 0 8px;
}
.footer span{
	float: left;
}
.fenge{
	padding:0 8px 0;
}
.safe img,p{
	float: left;
}
.footer-index-first ul{
	width: 460px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -225px;
}
.footer-index-second ul{
	top: 60px;
	width: 960px;
	height: 30px;
	left: 50%;
	margin-left: -480px;
}
.footer .shanghai{
	position: absolute;
	top: 120px;
	width: 820px;
	height: 30px;
	left: 50%;
	margin-left: -420px;
}
.footer .safe{
	position: absolute;
	top: 150px;
	width: 260px;
	height: 30px;
	left: 50%;
	margin-left: -117.5px;
}
.footer .safe-con{
	position: relative;
}
.footer .safe img{
	position: absolute;
	margin-left: -25px;
}
.footer-index-first a:hover,.footer-index-second a:hover{
	color: #cf5053!important;
	text-decoration: underline!important;
}
/*底部end*/